{% extends 'layout.html' %} 


{% block title %}
 Add_item
 {% endblock %} 


{%block content %}
<h1>Are you sure you want to delete "{{ item.item_name }}"?</h1>

<!-- Display alert messages -->
{% if messages %}
    <div class="alert-container">
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

{% if item and item.image %}
<img src="{{ item.image.url }}" alt="Item Image" style="max-width: 150px; display:block;">
{% endif %}

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirm Delete</button>
        <a href="{% url 'item_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
    
{% endblock %}
